<h2 class="ui center aligned icon header">
  <i class="circular orange desktop icon"></i>
  <%= @tutor.name %>&apos;s Dashboard
</h2>

<div class="ui placeholder segment">
  <div class="ui two column stackable center aligned grid">
    <div class="ui vertical divider">Or</div>
    <div class="middle aligned row">
      <div class="column">
        <div class="ui icon header">
          <i class="violet building outline icon"></i>
          Classes
        </div>
        <div class="field">
          <div class="ui primary button">
            class
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="purple users icon"></i>
          Students
        </div>
        <div class="ui primary button">
          student
        </div>
      </div>
    </div>
  </div>
</div>
