<div class="ui raised very padded text container segment">
  <h1 class="ui center aligned header">Welcome to e-WEC Application</h1>
  <%= image_tag('school.jpg', class: 'ui centered large image') %>
  <h4 class="ui center aligned header">This is a website designed to benefit our
    tutors and our students at the times when they can not meet in the classrooms.</h4>
</div>
