<h2 class="ui center aligned icon header">
  <i class="circular orange desktop icon"></i>
  <%= current_student.name %>&apos;s Activity Sheet - Edit
  <div>
    Class: <%= current_student.standards.last.name %>
  </div>
</h2>

<%= render 'form' %>
