<h2 class="ui block header">
  <i class="clipboard icon"></i>
  <%= @standard.name %>
</h2>

<div class="ui middle aligned huge selection list">
  <div class="item">
    <i class="user circle orange icon"></i>
    <div class="content">
      <div class="header">Helen</div>
    </div>
  </div>
</div>
