<div class="ui inverted small menu">
  <div class="ui container">
    <%= link_to root_path, class: "item" do %>
    <i class="university icon"></i> Home
    <% end %>
    <%= render 'layouts/navigation' %>
  </div>
</div>
